---

---

<dialog open id="dialog-quote" class="absolute top-0 left-0 w-full h-full bg-slate-100 bg-opacity-30 p-24">
    <div class="w-full h-full bg-slate-400 rounded-lg">
        <h1 class="text-3xl text-center py-2">Request Quote</h1>
        <div class="m-auto bg-slate-50 mb-4 w-4/5 h-2 rounded-md"></div>
        <form class="flex flex-col align-middle justify-around">
            <input type="text" class="m-auto"/>

        </form>
    </div>
</dialog>